* {
    margin: 0;
    font-family: "Alata", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #D77A30;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    padding: 0 50px;
}

.nav-links {
    padding: 10px 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
    font-size: 25px;

}

.container {
    width: 100%;
    padding: 5%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #D9D9D9;

}

.search-bar {
    width: 200px;
    height: 20px;
    max-width: 500px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    border: #D9D9D9 solid;
    border-width: 3px;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 20px 20px;
    font-size: 15px;
    color: #D9D9D9;
}

.search-bar button img {
    width: 25px;
    background-color: white;
}

.search-bar button {
    background-color: white;
    border: 0;
    cursor: pointer;

}

.front-page {
    position: relative;
    text-align: center;
}

.front-image {
    margin: 0%;
    position: relative;
    display: block;
    width: 1680px;
    height: 800px;
}

.new-collection {
    font-size: 80px;
    color: white;
    position: absolute;
    top: 110px;
    left: 30px;
    padding: 0 20px;
}

#women-btn {
    display: inline-block;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: 4px solid white;
    border-radius: 15px;
    padding: 15px 30px;
    position: absolute;
    top: 350px;
    right: 500px;
    transition: all 0, 25s;

}

#women-btn:hover {
    color: white;
}

#men-btn {
    display: inline-block;
    font-size: 30px;
    color: white;
    position: absolute;
    background-color: transparent;
    border: 4px solid white;
    border-radius: 15px;
    padding: 15px 50px;
    position: absolute;
    top: 350px;
    right: 300px;
}

#men-btn:hover {
    color: white;
}

h3 {
    padding: 20px 30px;
}

#comfort-zone {
    margin: 70px auto;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
}

#hiking {
    width: 760px;
    height: 400px;
    background-image: url("images/nathan-dumlao-pLoMDKtl-JY-unsplash.jpg");
    background-size: cover; 
    transform: translate(50px, 50px);
    background-position: center;
    font-size: 2em;
    color: white;
}

#skiing {
    width: 760px;
    height: 300px;
    background-image: url("images/joris-berthelot-EnTU_hr9wPA-unsplash.jpg");
    background-size: cover;
    transform: translate(860px, -350px);
    background-position: center;
    font-size: 2em;
    color: white;
}

#canoeing {
    width: 760px;
    height: 300px;
    background-image: url("images/brady-stoeltzing-m8oAzXoedho-unsplash.jpg");
    background-size: cover;
    background-position: center;
    transform: translate(50px, -200px);
    font-size: 2em;
    color: white;
}

#camping {
    width: 760px;
    height: 400px;
    background-image: url("images/victor-larracuente-JQfYGhUcDSg-unsplash.jpg");
    background-size: cover;
    transform: translate(860px, -600px);
    background-position: 25% 75%;
    font-size: 2em;
    color: white;
}

.page-name {
    color: black;
    font-size: 30px;
    margin: 40px;
    padding: 20px 20px;
}

#happy-couple {
    margin: 40px;
    width: 350px;
    height: 500px;
    float: left;
}

.about {
    display: inline;
}

#about {
    margin: 40px;
    padding: 40px;
    font-size: 20px;
    line-height: 2;
}

span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #504545;
    display: block;
}