* {
    margin: 0;
    font-family: "Alata", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --orange-hover: #D77A30;
    --theme-color: #0A3641;
    --the-right-shadow-of-grey: #D9D9D9;
    --lighter-grey: #EDEDED;
    --the-right-brown: #594533;
}

a {
    color: black;
}

a:hover {
    color: var(--orange-hover);
}

main {
    min-height: calc(100vh - 100px - 160px);
}


/* navigation bar */

nav {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
}

.checkbtn {
    font-size: 30px;
    color: var(--theme-color);
    float: right;
    line-height: 100px;
    margin-right: 50px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.logo {
    width: 150px;
    padding: 10px 50px;
}

nav ul {
    float: right;
    margin-right: 50px;
}

nav ul li {
    display: inline-block;
    line-height: 100px;
    margin: 0 15px;
}

.nav-links {
    font-size: 24px;
}

.active {
    font-size: 24px;
    text-decoration: underline;
}

@media (max-width:1200px) {

    .logo {
        width: 120px;
    }

    #search_bar,
    #magnifying_glass,
    #placeholder {
        display: none;
    }

    .checkbtn {
        display: block;
    }

    .active {
        padding: 10px 0;
        margin: 0 15px;
        font-size: 25px;
        text-transform: uppercase;
        text-decoration: underline;
    }

    .nav-links {
        text-transform: uppercase;
        font-size: 25px;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--the-right-shadow-of-grey);
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all 2s;
        padding-left: 0;
    }

    nav ul li {
        display: block;
    }

    #check:checked~ul {
        left: 0;
    }

    #checkout_container {
        display: flex;
        flex-direction: column;
    }
}

.search-bar {
    width: 300px;
    height: 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 2px var(--the-right-shadow-of-grey) solid;
    padding: 10px 20px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    padding: 20px 20px;
    font-size: 15px;
    color: var(--the-right-shadow-of-grey);
}

.search-bar button {
    background-color: white;
    border: 0;
    cursor: pointer;
}

/* footer */

footer {
    color: #0A3641;
    font-size: 1.2em;
    background-color: var(--the-right-shadow-of-grey);
    width: 100%;
    padding: 20px 0;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    line-height: 2;
    text-align: center;
}

footer h4 {
    font-weight: bold;
}

footer a {
    color: var(--theme-color);
}

#subscribe {
    border: none;
    margin-left: 0;
}

#subscribe_submit {
    background-color: var(--theme-color);
    color: white;
    font-size: 1.1em;
    width: 150px;
    border: none;
    border-radius: 3px;
    padding: 0.35em 0.7em;
}

#subscribe_submit:hover {
    background-color: var(--orange-hover);
}


/* index.html */

.new_collection {
    background-image: url("images/jason-blackeye-edu_UJYxJBA-unsplash.jpg");
    width: 100%;
    min-height: 820px;
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
    color: #061e24;
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#women-btn {
    display: flex;
    font-size: 30px;
    color: #061e24;
    background-color: transparent;
    border: 4px solid #061e24;
    border-radius: 15px;
    padding: 15px 40px;
    margin-bottom: 4%;
}

#women-btn:hover {
    background-color: rgb(255, 255, 255, 0.2);
}

#men-btn {
    display: flex;
    font-size: 30px;
    color: #061e24;
    background-color: transparent;
    border: 4px solid #061e24;
    border-radius: 15px;
    padding: 15px 60px;
}

#men-btn:hover {
    background-color: rgb(255, 255, 255, 0.2);
}

#pushing {
    text-align: center;
    padding: 30px 0;
}

.comfort_zone {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 1.8em;
}

#hiking {
    background-image: url(images/nathan-dumlao-pLoMDKtl-JY-unsplash.jpg);
    width: 45%;
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 2%;
    min-height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 2%;
    padding-bottom: 200px;
}

#skiing {
    background-image: url(images/joris-berthelot-EnTU_hr9wPA-unsplash.jpg);
    width: 45%;
    margin-left: 1%;
    margin-right: 2%;
    margin-bottom: 2%;
    min-height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 2%;
    padding-bottom: 200px;
}

#canoeing {
    background-image: url(images/brady-stoeltzing-m8oAzXoedho-unsplash.jpg);
    width: 45%;
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 2%;
    min-height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 2%;
    padding-bottom: 200px;
}

#camping {
    background-image: url(images/victor-larracuente-JQfYGhUcDSg-unsplash.jpg);
    width: 45%;
    margin-left: 1%;
    margin-right: 2%;
    margin-bottom: 2%;
    min-height: 200px;
    background-size: cover;
    background-position: 50% 75%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 2%;
    padding-bottom: 200px;
}

@media (max-width: 600px) {
    .new_collection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 27px;
        color: white;
    }

    #men-btn,
    #women-btn {
        margin-top: 20px;
        color: white;
        border: white solid 3px;
        font-size: 20px;
    }

    .comfort_zone {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: 50px;
    }

    #hiking,
    #skiing,
    #camping,
    #canoeing {
        margin: 10px 0 10px 0;
        width: 80%;
    }

    #browse_btn {
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }

    footer {
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #subscribe {
        width: 120px;
    }

    #subscribe_submit {
        width: 100px;
    }

    #insta,
    #facebook {
        padding: 20px 0 20px 0;
    }
}

.page-name {
    color: black;
    font-size: 30px;
    margin: 40px;
    padding: 20px 20px;
}

/* about */

.about {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

div.about_image img {
    max-width: 400px;
    padding-bottom: 50px;
}

div.about_image {
    display: flex;
    flex-basis: 600px;
    justify-content: center;
}

div.about_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 600px;
    font-size: 20px;
    line-height: 2;
    padding: 0 20px 50px 20px;
}

span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #504545;
    display: block;
    text-align: center;
}


/* Checkout page */

#checkout_container {
    margin: 20px 0px 20px 30px;
    display: flex;
}

#checkout_container h2 {
    padding: 20px;
    text-align: left;
}

#checkout_container input[type="text"],
input[type="email"],
input[type="tel"] {
    box-sizing: border-box;
    border: var(--the-right-shadow-of-grey) solid 2px;
    border-radius: 5px;
    padding: 0.5em 0.7em;
    font-size: 1em;
    margin: 10px 0px 10px 30px;
}

.shipping.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;

}

#name {
    width: 200px;
}

#surname {
    width: 400px;
}

#telephone,
#email {
    width: 630px;
}

#address {
    width: 400px;
}

#city {
    width: 200px;
}

.delivery {
    text-align: left;
    padding-left: 20px;
    line-height: 1.8em;
}

#card {
    width: 300px;
}

#expiration {
    width: 180px;
}

#cvv {
    width: 80px;
}

.terms.offers li {
    margin-top: 40px;
    margin-bottom: 20px;
}

/* products-women,products-men.html */

.product {
    background-color: var(--lighter-grey);
    padding: 20px 20px 0 20px;
    margin-bottom: 70px;
}

.product img {
    width: 300px;
    height: 400px;
    margin-left: 5px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.material {
    padding: 10px;
}

.price {
    font-size: 1.3em;
    font-weight: 1.5em;
    padding: 10px;
}

@media (max-width:400px) {

    .product {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product.description {
        display: flex;
        flex-direction: column;
    }

    .product img {
        width: 250px;
        height: auto;
    }

    #size {
        align-self: center;
    }

    #size_label {
        align-self: center;
        padding: 10px;
    }

    .order {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #number {
        margin: 20px;
    }

}

#buy-now {
    text-transform: uppercase;
    color: white;
    background-color: var(--the-right-brown);
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
    margin: 15px;
    text-align: center;
}

#buy-now:hover {
    background-color: var(--orange-hover);
}


/* jacket-women, jacket-men.html */

.product_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;

}

.first_container img {
    width: 300px;
    padding: 10px;
}

.details {
    font-size: 1em;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    line-height: 1.5em;
    text-align: center;
}

.price {
    border-top: black solid 1px;
    border-bottom: black solid 1px;
}

#details_more {
    line-height: 1.5;
    margin-top: 20px;
}

#number {
    width: 35px;
    height: 35px;
    background-color: var(--the-right-shadow-of-grey);
    border: none;
    padding: 0;
}

#size {
    width: 35px;
    height: 35px;
    background-color: var(--the-right-shadow-of-grey);
    border: none;
    margin: 20px;
}

#size_label {
    margin-right: 15px;
}

#continue {
    font-size: 1.2em;
    border-radius: 10px;
    border: black solid 2px;
    padding: 5px 20px 7px 20px;
}

#continue:hover {
    border: var(--orange-hover) solid 2px;
}

.third_container {
    display: flex;
    align-items: baseline;
    margin-top: 205px;
}

@media (max-width:700px) {
    .product_container {
        display: flex;
        flex-direction: column;
    }

    .first_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .second_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    #details_more {
        padding-top: 50px;
        text-align: center;
    }
}

@media (max-width:1400px) {
    .product_container {
        display: flex;
        flex-direction: column;
    }

    .first_container {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    .second_container {
        display: flex;
        justify-content: space-evenly;
    }

    .third_container {
        margin-bottom: 50px;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    #details_more {
        margin-top: 0;
    }

    .third_container {
        display: flex;
        justify-content: center;
    }
}



/* contacts.html */

.contacts img {
    width: 600px;
    height: 400px;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.contacts h2,
p {
    padding: 20px;
}

@media (max-width: 600px) {
    .contacts img {
        max-width: 300px;
        max-height: 200px;
    }
}

/* shipping */

.shipping {
    text-align: center;
}

@media (max-width:700px) {
    .shipping.info {
        display: flex;
        flex-direction: column;
    }

    .shipping.info input {
        max-width: 200px;
    }
}

/* subscribing.html, thank.html */

.thanks {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    line-height: 4;
    font-size: 20px;
    margin: 150px 10px 0 10px;
}

.your_order {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    line-height: 4;
    font-size: 20px;
    margin: 100px 10px 0 10px;
    text-align: center;
}

.thanks_order {
    font-size: 28px;
}

@media (max-width:560px) {
    #buy-now {
        font-size: 14px;
        width: 200px;
        padding: 7px 40px;
    }

    #continue {
        font-size: 14px;
        width: 120px;
        padding: 5px 20px;
    }
}